/*This is my screen file for the weather site*/

/*Imports must be the first thing (like Java)
Imported Sansita from Google Fonts.
Imported the normalize css stylesheet
Use vw for sizing so that it works on different size screens*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*
Table of Contents

1. General rules
2. Mobile first rules
   2.a. Header layout and styling
   2.b. Main navigavtion styling
   2.c. Location Styling
   2.d. Current Weather
    2.d.1. Temperature Styling
    2.d.2. Wind Styling
    2.d.3. Video Styling
   2.e. Hourly Styling
3. Large screens rules
   3.a. Layout
   3.b. Just for laptops

*/

/*----- 1. General rules -----*/

* {
 box-sizing: border-box;
 /* changes width property
 to total width instead of content width */
}

*:before,
*:after {
 box-sizing: border-box;
}

body {
 font-family: helvetica, arial, sans-serif;
 /* body font */
 font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: Sansita, arial, sans-serif;
}

/*----- 2. Mobile first rules -----
---2.a Header layout and styling---*/

#page-header {
 background-color: #0e89d5;
 display: flex;
 align-content: flex-start;
}

#site-brand {
 font-size: 1.5em;
 font-weight: 600;
}

#logo {
 font-size: 1.75em;
 padding: 5px;
}
/*End Header layout and styles*/

/*--2.b. Main Navigavtion Styling--*/
nav ul li {
 list-style: none;
 color: #FFF;
 padding: .75em;
 display: block;
 font-size: 13px;
 height: 40px;
}

/*cit230tth.github.io
north: font-size: smaller
margin: .5em 0 0 0
z-index: 100
 dial: add classes for the directions so that it moves. (0deg)

hourly: nowrap
overflow-x: scroll
align-items: center
list-style: none
padding: .15em
margin: .25em 0;
height: 40px
list items:
flex: 0 0 auto
padding: 0 .25em
border-right: 1px solid #000
*/

#main-nav ul {
display: flex;
justify-content: space-around;
margin: 0;
padding: 0;
}

nav {
 position: fixed;
 bottom: 0;
 left: 0;
 background-color: #0e89d5;
 width: 100vw;
 font-size: 4vw;
}

nav a:link {
 text-decoration: none;
 color: #FFF;
}

nav a:visited {
 text-decoration: none;
 color: #d8f;
}

nav a:hover {
 text-decoration: none;
 color: #FFF;
}

nav a:active {
 text-decoration: none;
 color: #d8f;
}
/*End Main Navigation Styling*/

/*-----2.c. Location Styling ------*/
h1 {
 margin: 0;
 padding-top: 5px;
 padding-left: 7px;
 font-size: 33px;
}

#location-info {
 width: 100vw;
 display: flex;
 font-size: 3.1vw;
 padding-left: 7px;
}
/*End location styles*/

/*-----2.d. Current Weather------*/
h2 {
 display: none;
}

#cur-weather {
 background-image: url("/weather/images/sunny-winter.jpg");
 background-size: cover;
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
}

#small-conditions {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
 display: flex;
 padding: .1em;
}

/*----2.d.1 Temperature Styling----*/
#temps {
 display: flex;
 flex-wrap: wrap;
 align-content: space-around;
 width: 65vw;
}

#current-temp {
 font-size: 4em;
 margin: 0;
 padding-left: 17px;
}

#high-temp {
 color: red;
 margin: 0;
 padding-left: 35px;
}

#low-temp {
 color: blue;
 margin: 0;
 padding-left: 25px;
}

#feels-like {
 margin: 0;
 padding-left: 20px;
}
/*End Temperature Styling*/

/*----2.d.2. Wind Styling----*/
#wind {
 display: flex;
 flex-flow: column nowrap;
}

#fixed-N {
 font-size: smaller;
 margin: 5px 7px 0px 0px;
 align-self: center;
}

#dial img {
 align-self: center;
 width: 23vw;
 margin: .5em 0 0 0;
 z-index: 100;
}

#wind-speed {
 margin: 0;
}

#wind-direction {
 font-size: .8em;
 margin: 0;
}

#wind-gust {
 font-size: .8em;
 margin: 0;
}
/*End Wind Styling*/

/*----2.d.3 Video Styling----*/
#video {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
}

#video img {
 width: 50vw;
 height: auto;
 margin: .1vw 0 .1vw 25vw;
 padding: .5vw 0 .2vw 0;
}
/*End Current Weather*/

/*----2.e. Hourly Styling----
how to make a horizontal slider scroll*/
#hourly-list {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
 display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;
 align-items: center;
 padding: .15em;
 margin: .25em 0;
 height: 40px;
}

#hourly-list li{
 display: flex;
 list-style: none;
 flex: 0 0 auto;
 padding: 0 .25em;
 border-right: 1px solid #000;
}
/*End Hourly Styling*/

footer {
 background-color: #0e89d5;
}
