/*This is my screen file for the weather site*/

/*Imports must be the first thing (like Java)
Imported Sansita from Google Fonts.*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*
Table of Contents

1. General rules
2. Mobile first rules
   2.a. Layout
3. Large screens rules
   3.a. Layout
   3.b. Just for laptops

*/

/*----- 1. General rules -----*/

* {
 box-sizing: border-box;
 /* changes width property
 to total width instead of content width */
}

*:before,
*:after {
 box-sizing: border-box;
}

body {
 font-family: helvetica, arial, sans-serif;
 /* body font */
 font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: Sansita, arial, sans-serif;
}

/*----- 2. Mobile first rules -----
----------- 2.a. Layout -----------*/

#page-header {
 background-color: #0e89d5;
}

#site-brand {
 font-size: 2.5em;
 font-weight: 600;
 display: inline-block;
}

#logo {
 display: inline-block;
 font-size: 70px;
 padding-top: 10px;
}

/*Main Navigvation Styling*/
nav ul li {
 display: inline-block;
 list-style: none;
 height: auto;
}

nav {
 position: fixed;
 bottom: 0;
 left: 0;
 background-color: #0e89d5;
}

nav a:link {
 text-decoration: none;
 color: #6c4ddb;
}

nav a:visited {
 text-decoration: none;
 color: #d8f;
}

nav a:hover {
 text-decoration: none;
 color: #FFF;
}

nav a:active {
 text-decoration: none;
 color: #FFF;
}
/*End Main Navigation Styling*/

/*Mobile Sections of Current Weather*/
#cur-weather {
 background-image: url("/weather/images/sunny-winter.jpg");
 background-size: cover;
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
}

#small-conditions {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
}

/*Temperature Styling for Mobile*/
#temps {
 display: inline-block;
}
#current-temp {
 display: inline-block;
 font-size: 60px;
 margin-top: 5px;
 margin-bottom: 5px;
 padding-left: 20px;
}

#high-temp {
 color: red;
 display: inline-block;
 padding-left: 20px;
 margin-top: 0px;
 margin-bottom: 0px;
}

#low-temp {
 color: blue;
 display: inline-block;
 padding-left: 40px;
 margin-top: 0px;
 margin-bottom: 0px;
}

#feels-like {
 display: inline-block;
 padding-left: 20px;
 margin-top: 5px;
}
/*End Temperature Styling*/

/*Wind Styling*/
#wind {
 display: inline-block;
 margin-left: 60px;
}

#wind-head {
 margin-bottom: 51px;
}
/*End Wind Styling*/

/*Video Styling*/
#video {
 color: #FFF;
}
/*End Mobile Sections of Current Weather*/

footer {
 margin-bottom: 3em;
 background-color: #0e89d5;
}
