/*This is my screen file for the weather site
Most of the comments are for myself*/

/*Imports must be the first thing (like Java)
Imported Sansita from Google Fonts.
Imported the normalize css stylesheet
Use vw for sizing so that it works on different size screens*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*--------------Table of Contents------------------

1. General rules
2. Mobile first rules
   2.a. Header layout and styling
   2.b. Main navigavtion styling
   2.c. Location Styling
   2.d. Current Weather
    2.d.1. Temperature Styling
    2.d.2. Wind Styling
    2.d.3. Video Styling
   2.e. Hourly Styling
3. Large screens rules
   3.a. Header layout and styling
   3.b. Main navigavtion styling
   3.c. Location Styling
   3.d. Current Weather
    3.d.1. Temperature Styling
    3.d.2. Wind Styling
    3.d.3. Video Styling
   3.e. Hourly Styling

     Things to change:
     X1. Make section headings visible
     X2. Nav bar to top
     X3. T/W/V in separate boxes
     X4. T/W/V in a single container
     X5. T/W/V aligned, same size, evenly distributed
     X6. T/W/V on same line
     X7. Hourly forecast in a box
     X8. Footer has a line above it
     X9. Things are sized
     X10. dial centered in container
     X11. content center in viewport
     12. right arrow in hourly temp container (symbol)

  ***Add background image classes***
  ******Change the image sizes, opt them again and and add them to the this****
*/

/*----- 1. General rules -----*/

* {
 box-sizing: border-box;
 /* changes width property
 to total width instead of content width */
}

*:before,
*:after {
 box-sizing: border-box;
}

body {
 font-family: helvetica, arial, sans-serif;
 /* body font */
 font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: Sansita, arial, sans-serif;
}

/*hides the main content on the search page*/
.hidden {
 display: none;
}

/*hiding and showing the 'getting location' and then main content on the current weather page*/
.hide{
 display: none;
}

.body .hide{
 display:block;
}

#noStatus {
 display: none;
}

/*add some space around the search bar*/
#searchBar {
 padding-bottom: 1em;
}

/*Classes for rotating wind dial*/

.n {
 transform: rotate(0deg);
}

.ne {
 transform: rotate(45deg);
}

.e {
 transform: rotate(90deg);
}

.se {
 transform: rotate(135deg);
}

.s {
 transform: rotate(180deg);
}

.sw {
 transform: rotate(225deg);
}

.w {
 transform: rotate(270deg);
}

.nw {
 transform: rotate(315deg);
}

/*End of dial classes*/

/*----- 2. Mobile first rules -----
---2.a Header layout and styling---*/

#page-header {
 background-color: #0e89d5;
 display: flex;
 justify-content: flex-start;
 align-content: center;
}

#site-brand {
 font-size: 1.5em;
 font-weight: 600;
}

#logo {
 font-size: 1.75em;
 padding: 5px;
}

/*End Header layout and styles*/

/*--2.b. Main Navigavtion Styling--*/

nav ul li {
 list-style: none;
 color: #FFF;
 padding: .75em;
 display: block;
 font-size: 13px;
 height: 40px;
}

/*cit230tth.github.io
north: font-size: smaller
margin: .5em 0 0 0
z-index: 100
 dial: add classes for the directions so that it moves. (0deg)
*/

#main-nav ul {
 display: flex;
 justify-content: space-around;
 margin: 0;
 padding: 0;
}

nav {
 position: fixed;
 bottom: 0;
 left: 0;
 background-color: #0e89d5;
 width: 100vw;
 font-size: 5em;
}

nav a:link {
 text-decoration: none;
 color: #FFF;
}

nav a:visited {
 text-decoration: none;
 color: #FFF;
}

nav a:hover {
 text-decoration: none;
 color: #d8f;
}

nav a:active {
 text-decoration: none;
 color: #6c4ddb;
}

/*End Main Navigation Styling*/

/*-----2.c. Location Styling ------*/

h1 {
 margin: 0;
 padding-top: 5px;
 padding-left: 7px;
 font-size: 33px;
}

#location-info {
 width: 100vw;
 display: flex;
 font-size: 3.1vw;
 padding-left: 7px;
}

/*End location styles*/

/*-----2.d. Current Weather------*/

h2 {
 display: none;
}

#cur-weather {
 background-size: cover;
 background-position: center;
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
}

/***background image classes***/
.clear {
 background-image: url("/assignments/weather_images_opt/images/clear_small.jpg");
}

.rain {
 background-image: url("/assignments/weather_images_opt/images/rain_small.jpg");
}

.cloud {
 background-image: url("/assignments/weather_images_opt/images/clouds_small.jpg");
}

.snow {
 background-image: url("/assignments/weather_images_opt/images/snow_small.jpg");
}

.fog {
 background-image: url("/assignments/weather_images_opt/images/fog_small.jpg");
}

#small-conditions {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
 display: flex;
 justify-content: space-around;
 padding: .1em;
}

/*----2.d.1 Temperature Styling----*/

#temps {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin: 5px 15px 5px 10px;
 max-width: 180px;
}

#current-temp {
 font-size: 4em;
 margin: 0;
 padding-left: 10px;
}

#high-temp {
 display: inline-block;
 color: red;
 margin: 0;
 padding-left: 30px;
}

#low-temp {
 display: inline-block;
 color: blue;
 margin: 0;
 padding-left: 25px;
}

#feels-like {
 margin: 0;
 padding-left: 20px;
}

/*End Temperature Styling*/

/*----2.d.2. Wind Styling----*/

#wind {
 display: flex;
 flex-flow: column nowrap;
 position: relative;
 text-align: center;
 margin: 5px 0px;
}

#fixed-N {
 font-size: smaller;
 margin: 0 0 3px 0px;
}

#dial {
 height: 150px;
 width: 150px;
 background: no-repeat center/85% url('/weather/images/wind-pointer.png');
 margin: -.6em auto 0;
 z-index: 100;
}

#wind-speed {
 margin: 10px 0px;
 position: absolute;
 top: 30%;
 text-align: center;
 right: 0px;
 left: 0px;
}

#wind-direction {
 font-size: .8em;
 margin: 0;
 margin-bottom: 2px;
}

#wind-gust {
 font-size: .8em;
 margin: 0;
}

/*End Wind Styling*/

/*----2.d.3 Video Styling----*/

#video {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
}

#condition-icon {
 display: block;
 width: 200px;
 margin-left: auto;
 margin-right: auto;
}

/*End Current Weather*/

/*----2.e. Hourly Styling----
how to make a horizontal slider scroll*/

#hourly-list {
 background-color: rgba(200, 200, 200, .6);
 margin: .2em auto;
 border: 1px solid;
 border-radius: 15px;
 display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;
 align-items: center;
 padding: .15em;
 margin: .25em 0;
 height: 40px;
}

#hourly-list li {
 display: block;
 list-style: none;
 flex: 0 0 auto;
 padding: 0 .25em;
 border-right: 1px solid #000;
}

/*End Hourly Styling*/

footer {
 background-color: #0e89d5;
 margin-bottom: 2em;
 display: flex;
 align-items: flex-end;
 flex-wrap: wrap;
}

/* ----------------- 3. Large Screens: 830px / 20.7em --------------------
Need to fix arrow and scrolling in hourly*/

@media screen and (min-width: 830px) {
 body > div {
  /*max screen size and line length is 1100px, good guideline
  If the screen is bigger, make the content centered at the max width of 1100px*/
  max-width: 1100px;
  margin: 0 auto;
 }

 h2 {
  display: block;
  margin: .25em 0;
 }

 /*------3.a. Header layout and styling------*/
 #site-brand {
  font-size: 3em;
  font-weight: 500;
 }

 #logo {
  font-size: 3em;
  padding: 5px;
 }

 /*------3.b. Main navigavtion styling-----*/
 nav {
  position: relative;
  width: auto;
 }

 nav ul li {
  font-size: 16px;
 }

 /*------3.c. Location Styling------*/
 h1 {
  font-size: 2em;
 }

 #location-info {
  font-size: 1.3vw;
  width: 100%;
 }

 /*------3.d. Current Weather------*/
 #cur-weather {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  width: auto;
  /*space-evenly is only supported by firefox for now*/
 }

 /*Background image classes*/
 .clear {
  background-image: url("/assignments/weather_images_opt/images/clear_large.jpg");
 }

 .rain {
  background-image: url("/assignments/weather_images_opt/images/rain_large.jpg");
 }

 .cloud {
  background-image: url("/assignments/weather_images_opt/images/clouds_large.jpg");
 }

 .snow {
  background-image: url("/assignments/weather_images_opt/images/snow_large.jpg");
 }

 .fog {
  background-image: url("/assignments/weather_images_opt/images/fog_large.jpg");
 }

 #small-conditions {
  background-color: transparent;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
 }

 #wind,
 #temps,
 #video {
  background-color: rgba(200, 200, 200, .6);
  border: 1px solid;
  border-radius: 15px;
  padding: .1em;
  width: 250px;
  height: 270px;
  display: flex;
 }

 /*------3.d.1. Temperature Styling-----*/
 #temps {
  margin: 0 5vw 0 1vw;
  max-width: 250px;
 }

 #temps > h2 {
  padding-left: 40px;
 }

 #current-temp {
  padding-left: 32px;
 }

 #high-temp {
  padding-left: 60px;
 }

 #low-temp {
 }

 #feels-like {
  padding-left: 50px;
 }

 /*-----3.d.2. Wind Styling-----*/
 #wind {
  margin: 0;
 }

 #wind-speed {
  top: 42%;
 }

 /*------3.d.3. Video Styling-----*/
 #video {
  flex-direction: column;
  align-items: center;
  margin: 0 1vw 0 5vw;
  min-width: 250px;
 }

 #condition-icon {
  display: flex;
 }

 /*-----3.e. Hourly Styling-----*/
 #hourly {
  background-color: rgba(200, 200, 200, .6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 15px;
  overflow-x: auto;
  align-items: center;
  padding: .15em;
  margin: .25em 0;
  height: 100px;
 }

 #hourly > h2 {
  font-size: 25px;
  margin-left: 5px;
  margin-top: 0;
  padding: 3px;
 }

 #hourly-list {
  background-color: transparent;
  margin: 0;
  border: 0;
  border-radius: 0;
  display: flex;
  padding: 0;
  margin: 0;
 }

 #arrow {
   font-size: 50px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 10px;
   vertical-align: top;
   visibility: visible;
 }

 /*------Footer-------*/
 footer {
  margin: 0;
 }

 #line {
  border: 1.5px solid #000;
  margin-top: 15px;
  margin-bottom: 7px;
 }
}
