/*This is my screen file for the Acme page
Most of these comments are for myself*/

/*Imports first - normalize css stylesheet*/

@import url('/acme/css/normalize.css');

/*------------Table of Contents--------
1. General Rules
2. Mobile First Rules
 2.a. Header layout
 2.b. Main Nav
 2.c. Main Body Styling - Home Page
 2.d. Content pages
 2.e. Footer Layout
3. Medium Screen Rules (650px-1000px)
 3.a. Main Nav
 3.b. Main Body Styling
 3.c. Fotter Layout
4. Large Screens Rules (1000px and up)
 4.a. Header layout
 4.b. Main Body Styling
 4.c. Footer Layout
*/

/*---1. General Ruls ---*/

* {
 box-sizing: border-box;
 /* changes width property
 to total width instead of content width */
}

*:before,
*:after {
 box-sizing: border-box;
}

body {
 font-family: helvetica, arial, sans-serif;
 /* body font */
 font-size: 18px;
 margin-bottom: 100%;
 padding: 0;
 background-image: url(/acme/images/site/background.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

body > div {
 margin: 0 auto;
 background-color: #FFF;
 margin-left: 3vw;
 margin-right: 3vw;
 margin-bottom: 3vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: Sansita, arial, sans-serif;
}

.hide {
 display: none;
}

/*---- 2. Mobile First RuleS ----
--- 2.a. Header Layout --------*/

#page-header {
 display: flex;
 align-items: center;
 padding-bottom: 10px;
 padding-left: 10px;
}

#site-logo {
 width: 50%;
}

/*---- 2.b. Main Nav ----*/

#nav {
 width: 100%;
 display: flex;
 list-style: none;
 background-color: #de2226;
 padding-top: 1vw;
 padding-bottom: 1vw;
 padding-left: .3em;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 flex-wrap: nowrap;
}

#nav li {
 font-size: 5vw;
 padding-right: 1.3vw;
}

#nav a {
 text-decoration: none;
 color: #FFF;
 padding: 2px;
}

#nav a:hover {
 color: #de2226;
 background-color: #FFF;
}

/*---- 2.c. Main Body Styling - Home Page ----*/

#main-content-title {
 margin: 0;
}

/*--Top Banner image--*/

#banner {
 background-image: url(/acme/images/site/feature.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
 display: flex;
 justify-content: flex-end;
}

#banner-list {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 background-color: rgba(255, 255, 255, 0.65);
 list-style: none;
 color: #de2226;
 margin-top: 2px;
 margin-bottom: 0;
 padding: 0;
}

#banner-list h2 {
 margin: 0;
 font-size: 1.3em;
 font-weight: bold;
}

#banner-list li {
 padding-bottom: 3px;
 font-size: 5vw;
}

#actionbtn {
 width: 55vw;
}

/*--bottom section--*/

#review-recipes h2 {
 font-size: 1.5em;
}

/*--Reviews--*/

#review-list {
 font-size: 1.2em;
}

#review-list li {
 padding-bottom: 5px;
}

/*--Recipes--*/

#recipes {
 margin-left: 5px;
}

#recipes h2 {
 margin-bottom: 0;
}

#thumbnails {
 display: flex;
 flex-wrap: wrap;
}

.img-thumbnails {
 background-color: #808080;
 margin: 5px 5px 50px 0px;
 width: 140px;
 height: 95px;
}

.img-thumbnails img {
 position: relative;
 left: 18%;
 height: 90px;
}

.cap {
 padding-top: 3px;
 color: #0000ee;
 text-decoration: underline;
 text-align: center;
}

/*---- 2.d. Content pages ----*/

#product-name {
 margin: 0;
 padding: 5px 0px 5px 10px;
 font-size: 2em;
}

#info {
 font-size: 20px;
}

#product-image {
 width: 100%;
 margin-bottom: .5em;
}

#right {
 padding-left: 5px;
}

#product-descrip {
 margin-top: 0;
}

#right ul {
 list-style: none;
 padding-left: 0;
}

#right ul li {
 padding-bottom: 3px;
}

#product-price {
 margin: 0;
 padding-bottom: 5px;
 color: #de2226;
 font-size: 2em;
 font-weight: bold;
}

/*---- 2.e. Footer Layout ----*/

#site-footer {
 border-top: 3px solid #000;
 text-align: center;
}

/*------------- 3. Medium screen Rules: 650px -------------*/

@media screen and (min-width: 650px) {
 #main-content-title {
  margin: 0;
  font-size: 2.5em;
 }

 /*---- 3. a. Main Nav ----*/
 #nav {
  padding-left: 10px;
 }

 #nav li {
  font-size: 1.5em;
  padding-right: 1.5vw;
 }

 /*---- 3.b. Main Body Layout ----*/
 /*---Top banner image---*/
 #banner-list {
  height: 40vw;
  font-size: 1.3em;
  margin-right: 20px;
  margin-top: 30px;
  background-color: transparent;
 }

 #banner-list h2 {
  font-size: 2em;
 }

 #banner-list li {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: inherit;
  width: auto;
 }

 #actionbtn {
  width: 301px;
 }

 /*---bottom section---*/
 #review-recipes h2 {
  font-size: 2em;
 }

 /*---content pages---*/
 #product-image {
  width: auto;
 }

 /*---- 3.c. Footer Layout ----*/
 #siteFooter {
  font-size: 20px;
 }

 /*------------- 4. Large Screen Rules: 1000px -------------*/
 @media screen and (min-width: 1000px) {

  body {
   margin-bottom: 0;
  }

  body > div {
   max-width: 75em;
  }

  /*---- 4.a. Header Layout ----*/
  #page-header {}

  #site-logo {
   height: 40%;
   width: 40%;
  }

  /*---- 4.b. Main Body Styling ----*/

  #product-name {
   font-size: 3em;
  }

  #info {
   display: flex;
  }

  #product-image {
   width: auto;
   margin-right: 1em;
   margin-left: 1em;
  }

  #product-descrip {
   padding-right: .3em;
  }

  #product-price {
   margin-top: 2em;
   padding: 0;
  }

  /*--Top Banner image--*/
  #banner {
   background-size: cover;
  }

  #banner-list {
   background-color: transparent;
   height: 498px;
  }

  /*--bottom section--*/
  #review-recipes {
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
  }

  /*--Recipes--*/
  #recipes {
   width: 30%;
   margin-left: 10px;
  }

  .img-thumbnails {
   margin: 5px 5px 40px 0px;
   width: 170px;
  }

  .img-thumbnails img {
   left: 23.5%;
  }

/*---- 4. c. Footer Layout ----*/
  #site-footer {
   margin-left: 10px;
   margin-right: 10px;
  }
 }
